# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3

# Vi, nano
*~
*.swp
*.swo

# coverage.py reports
.coverage

# Sass cache
*.css.map
.sass-cache/

# PyCharm
.idea/

# Scraper cache
.cache.html
.current.html
