[Desktop Entry]
Encoding=UTF-8
Name=Link to python - django test app error - Got an error creating the test database: permission denied to create database - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/14186055/django-test-app-error-got-an-error-creating-the-test-database-permission-deni
Icon=text-html
Name[en_US]=running_tests_with_postgresql
