[Desktop Entry]
Encoding=UTF-8
Name=Link to regex - How do you hide .git project directories? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/2999353/how-do-you-hide-git-project-directories
Icon=text-html
Name[en_US]=how to disable hidden git in nginx
