{% extends 'jobs/base.html' %}

{% block page_title %}Összes Munka | Diákmunka most!{% endblock %}

{% block content %}
<form class="form-horizontal" method="GET" action="{% url 'jobs:all_jobs' 1 %}">
  <div class="form-group">
    <div class="col-md-6">
      <div id="job-type">
        <h4>Munka típusa</h4>
        {{ search_form.job_types }}
      </div>
    </div>
    <div class="col-md-6">
      <div id="min-salary">
        <h4>Minimum bér</h4>
        {{ search_form.min_salary }}
      </div>
      <div id="order by">
        <h4>Rendezés</h4>
        {{ search_form.order_by }}
      </div>
    </div>
  </div>
  <input type="submit" value="Mehet">
</form>
  {% if jobs %}
    <table>
    {% for job in jobs %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>
        <a href="{% url 'jobs:specific_job' job.id %}">{{ job.title }}</a>
      </td>
      <td>
        <span>{{ job.job_type }}</span>
      </td>
      <td>
        {% if job.max_salary == 0 and job.min_salary == 0 %}
          <span>Megállapodás szerint</span>
        {% elif job.max_salary == job.min_salary %}
          <span>{{ job.min_salary }} Ft/óra</span>
        {% else %}
          <span>{{ job.min_salary}} - {{ job.max_salary}} Ft/óra</span>
        {% endif %}
      </td>
      <td>
      </td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>Nincs a megadott paramétereknek megfelelő munka.</p>
  {% endif %}
<div class="pagination">
  <span class="step-links">
    {% if jobs.has_previous %}
      <a href="{% url 'jobs:all_jobs' jobs.previous_page_number %}{{ query_string }}">Előző</a>
    {% endif %}
    {% if jobs.has_next %}
      <a href="{% url 'jobs:all_jobs' jobs.next_page_number %}{{ query_string }}">Következő</a>
    {% endif %}
  </span>
</div>
{% endblock %}
